@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
.sectionOneContainer{
   display: flex;
   justify-content: center;
   padding-top: 30px;
   font-family: 'Fira Code', monospace;
}

.sectionOne{
   display: flex; 
   width: 1135px;
   height: 423px;
}

.leftContainerSecOne{
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RightContainerSecOne{
    flex: 4;
    border: 1px solid red;
}

.title{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}

.subTitle{
    width: 500px;
    color: #ABB2BF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.contactBtn{
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    width: 130px;
    height: 35px;
    border: 1px solid #C778DD;
}

.contactBtn:hover{
    cursor: pointer;
    background-color: #c778dd41;
}