@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
.container{
    display: flex;
    height: 70px;
    padding: 32px 40px 8px;
    font-family: 'Fira Code', monospace;
    align-items: center;
    justify-content: space-around;
}

.leftContainer{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.rightContainer{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}